{% extends "layout.html" %}
{% block title %}
Builder
{% endblock %}

{% block css %}
{{ stylesheet('css/canvas.css') }}
{% endblock %}

{% block script %}
{{ scriptMain('js/builder') }}
{% endblock %}



{% block content %}
<div class="row-fluid">
<h1 class="span10">Logic Gate Builder</h1>
<div class="btn-group span2">
  <button class="btn open"> Open</button>
  <button class="btn save"> Save </button>
  <button class="btn add"> Add Inner Gate </button>
  </div>
</div>

  <div class="btn-group">
    <button id="modeSelectorButton" class="btn dropdown-toggle" data-toggle="dropdown"><span id="modeSelectorText"></span>
    <span class="caret"></span>
    </button>
    <ul id="modeSelectorMenu" class="dropdown-menu">
      <li><a href="#">Move Mode</a></li>
      <li><a href="#">Wire Mode</a></li>
      <li><a href="#">Delete Mode</a></li>
    </ul>
    <button class="btn addGate" data-type="and"> Add AND Gate </button>
    <button class="btn addGate" data-type="or"> Add OR Gate </button>
    <button class="btn addGate" data-type="not"> Add NOT Gate </button>
    <button class="btn addGate" data-type="xor"> Add XOR Gate </button>
    <button class="btn addGate" data-type="nand"> Add NAND Gate </button>
    <button class="btn addGate" data-type="in"> Add In Gate </button>
    <button class="btn addGate" data-type="out"> Add Out Gate </button>
    <button class="btn addNode"> Add Node</button>

  </div>

  <canvas id="mainCanvas" width=940 height=300></canvas>

  <div id="saveModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Saved</h3>
  </div>
  <div class="modal-body">
    <p>The design has been saved as: <span id="resultOfSave"> </span> </p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Close</a>
  </div>
</div>

<div id="openModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Open</h3>
  </div>
  <div class="modal-body">
    <p>What is the ID of the design you want to open?</p>
    <input type="number" id="oldDesignId"/>
    <p class="openErrors"> </p>
  </div>
  <div class="modal-footer">
  	
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Close</a>
    <a href="#" id="openButton" class="btn btn-primary">Open</a>
  </div>
</div>

<div id="addModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add</h3>
  </div>
  <div class="modal-body">
    <p>What is the ID of the design you want to add?</p>
    <input type="number" id="addDesignId"/>
    <p>What is the name of the design you want to add?</p>
    <input type="text" id="addDesignName"/>
    <p class="openErrors"> </p>
    <p class="openErrors"> </p>
  </div>
  <div class="modal-footer">
    
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Close</a>
    <a href="#" id="addButton" class="btn btn-primary">Add</a>
  </div>
</div>
  {% endblock %}