{% extends "layout.html" %}
{% block title %}
Viewer
{% endblock %}

{% block css %}
{{ stylesheet('css/canvas.css') }}
{% endblock %}

{% block script %}
{{ scriptMain('js/viewer') }}
{% endblock %}



{% block content %}
<div class="hide" id="alreadyOpen">{{ state }}</div>

<div class="row-fluid">
<h1 class="span10">Logic Gate Viewer</h1>
<div class="btn-group span2">
  <button class="btn open"> Open</button>
  </div>
</div>
  

  <canvas id="mainCanvas" width=940 height=700></canvas>


<div id="openModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Open</h3>
  </div>
  <div class="modal-body">
    <p>What is the ID of the design you want to open?</p>
    <input type="number" id="oldDesignId"/>
    <p id="openErrors"> </p>
  </div>
  <div class="modal-footer">
  	
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">Close</a>
    <a href="#" id="openButton" class="btn btn-primary">Open</a>
  </div>
</div>
  {% endblock %}